body {
  background-image: url("../burger.jpeg");
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
.header {
  justify-content: center;
  color: #faebd7;
  font-size: 100px;
}
.title {
  justify-content: center;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 40px;
}
.text {
  font-size: medium;
  font-weight: bold;
}
